@import "common/base/topic-post";

body.blog-post {
  background-image: unset;

  li {
    line-height: 1.6em;
  }

  .header {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
  }

  .canvas {
    background: $secondary;
    box-shadow: $canvas-shadow;
    padding: 1em;
    border-radius: 4px;
  }

  .comment-container {
    display: flex;
    flex-direction: column;
    width: 62em;

    .comment-user {
      color: $primary-high;
      text-transform: capitalize;
      font-size: $font-down-1;
      margin: 6px 0 10px 0;
    }

    .comment {
      padding: 10px 0;
      margin-left: 1em;
      word-wrap: break-word;
      word-break: break-word;
      border-bottom: 1px solid $primary-low;

      .comment-content {
        margin-left: 50px;
      }
    }

    .comment-avatar {
      float: left;
    }

    .img-avatar {
      border-radius: 50%;
    }

    .comment-heading {
      border-bottom: 2px solid $primary-low;
      color: $primary-high;
      display: flex;
      flex-direction: column;
    }
  }

  .container {
    margin-top: 10em;
  }

  blockquote {
    padding: 12px;
    font-style: italic;
    border-left: 5px solid $primary-low;
    background-color: $blend-primary-secondary-5;
  }

  code, pre {
    color: $primary-very-high;
    background: $primary-very-low;
  }

  img.emoji {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
  }

  .title {
    color: $primary;
    padding: .5em;
    font-size: 3.2em;
    font-weight: 700;
    letter-spacing: -.015em;
    margin: 0 0 0.4em;
  }

  .topic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .excerpt {
    color: $primary-high;
    margin: 0;
  }

  .canvas {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60em;

    .lightbox-wrapper {
      align-self: center;
    }
  }

  .article-byline {
    align-self: center;
  }

  .topic-byline {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .bull {
      opacity: 0.6;
      padding: 0 0 0 0.312em;
      line-height: 2.0em;
    }

    .date {
      line-height: 1.9em;
      font-size: 0.612em;
    }

    .author-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      padding-left: 0;

      .user-name {
        font-size: 0.9em;
      }
    }
  }

  .author-list-item {
    position: relative;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
  }

  .topic-meta {
    color: $primary-medium;
    font-size: 1.4rem;
    line-height: 1.2em;
    padding-bottom: 0.312em;
  }

  .content {
    word-spacing: 0.25em;
    display: flex;
    flex-direction: column;
  }

  .user-top img {
    margin-right: 0.312em;
    border-radius: 50%;
  }

  @media (max-width: 650px) {
    .content {
      width: 85%;
    }
  }
}

.comment-footer {
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 40px;
  border-radius: 4px;
  padding: 8px;
  width: 190px;
  transition: all 0.5s;
  background-color: $tertiary;

  a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: $secondary;
    font-weight: bold;
  }

  a:after {
    content: '»';
    position: absolute;
    top: 0;
    right: -14px;
    transition: 0.5s;
  }
  .btn-comment {
    color: $secondary;
  }
}

.comment-footer:hover a {
  padding-right: 25px;
}

.comment-footer:hover a:after {
  opacity: 1;
  right: 0;
}
